<div class="navbar bg-base-100 h-16 px-4 md:px-8 lg:px-12">
  <div class="navbar-start w-[40%]">
    <div class="dropdown">
      <app-button
        id="menuButton"
        tabindex="0"
        variant="ghost"
        size="sm"
        class="lg:hidden px-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </app-button>

      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-4 shadow bg-base-100 rounded-box w-52"
      >
        @for (link of links; track link) {
          <li
            [appRemoveIfUnauthorized]="link.allowedRoles"
            class="mb-2 last:mb-0"
          >
            @if (link.path) {
              <app-button
                variant="ghost"
                routerLink="{{ link.path }}"
                routerLinkActive="bg-primary-600 text-white"
                [queryParamsHandling]="
                  link.name === 'Users' ? 'preserve' : null
                "
                (click)="menuItemClick()"
                class="font-medium text-base leading-normal w-full justify-start"
              >
                {{ link.name }}
              </app-button>
            }
            @if (!link.path) {
              <app-button
                variant="ghost"
                (click)="logoutClick()"
                class="font-semibold text-base leading-normal w-full justify-start"
              >
                {{ link.name }}
              </app-button>
            }
          </li>
        }
      </ul>
    </div>

    <app-button
      routerLink="/"
      variant="ghost"
      class="normal-case text-2xl font-bold"
    >
      UTS DPM
    </app-button>
  </div>

  <div class="navbar-end w-[60%] hidden lg:flex">
    <ul class="menu menu-horizontal p-0 gap-2">
      @for (link of links; track link) {
        <li [appRemoveIfUnauthorized]="link.allowedRoles">
          @if (link.path) {
            <app-button
              variant="ghost"
              routerLink="{{ link.path }}"
              routerLinkActive="bg-primary-600 text-white"
              [queryParamsHandling]="link.name === 'Users' ? 'preserve' : null"
              class="font-medium text-base leading-normal"
            >
              {{ link.name }}
            </app-button>
          }
          @if (!link.path) {
            <app-button
              variant="ghost"
              (click)="logoutClick()"
              class="font-semibold text-base leading-normal"
            >
              {{ link.name }}
            </app-button>
          }
        </li>
      }
    </ul>
  </div>
</div>
