<div class="navbar bg-base-100">
  <div class="navbar-start w-[40%]">
    <div class="dropdown">
      <label id="menuButton" tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>

      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        @for (link of links; track link) {
        <li
          [appRemoveIfUnauthorized]="link.allowedRoles"
          class="mb-2 last:mb-0"
        >
          @if (link.path) {
          <a
            routerLink="{{ link.path }}"
            routerLinkActive="active"
            [queryParamsHandling]="link.name === 'Users' ? 'preserve' : null"
            (click)="menuItemClick()"
            >{{ link.name }}</a
          >
          } @if (!link.path) {
          <a (click)="logoutClick()">{{ link.name }}</a>
          }
        </li>
        }
      </ul>
    </div>

    <a routerLink="/" class="btn btn-ghost normal-case text-2xl">UTS DPM</a>
  </div>

  <div class="navbar-end w-[60%] hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      @for (link of links; track link) {
      <li class="mx-1" [appRemoveIfUnauthorized]="link.allowedRoles">
        @if (link.path) {
        <a
          routerLink="{{ link.path }}"
          routerLinkActive="active"
          [queryParamsHandling]="link.name === 'Users' ? 'preserve' : null"
        >
          {{ link.name }}
        </a>
        } @if (!link.path) {
        <a (click)="logoutClick()">
          {{ link.name }}
        </a>
        }
      </li>
      }
    </ul>
  </div>
</div>
