<div>
  <h3 class="text-2xl pb-4 font-bold">DPM Data</h3>
  <form
    class="grid grid-cols-6 mx-5 gap-x-6"
    [formGroup]="dpmDataFormGroup"
    (ngSubmit)="getDpmData()"
  >
    <fieldset class="fieldset col-span-6 md:col-span-3 lg:col-span-2">
      <legend
        class="fieldset-legend text-sm"
        [ngClass]="{
          'text-error':
            dpmDataFormGroup.errors?.['mixedDate'] && !getAll?.value,
        }"
      >
        Start Date
      </legend>
      <p-date-picker
        id="startDate"
        formControlName="startDate"
        [placeholder]="format.dpmDate(null, true)"
        styleClass="input w-full {{ errorsOrEmpty() }}"
        [required]="true"
        [touchUI]="mobileMode()"
      ></p-date-picker>
      <p class="label text-error">{{ getStartTimeValidationMessages() }}</p>
    </fieldset>

    <fieldset class="fieldset col-span-6 md:col-span-3 lg:col-span-2">
      <legend
        class="fieldset-legend text-sm"
        [ngClass]="{
          'text-error':
            dpmDataFormGroup.errors?.['mixedDate'] && !getAll?.value,
        }"
      >
        End Date
      </legend>
      <p-date-picker
        id="endDate"
        formControlName="endDate"
        [placeholder]="format.dpmDate()"
        styleClass="input w-full {{ errorsOrEmpty() }}"
        [required]="true"
        [touchUI]="mobileMode()"
      ></p-date-picker>
      <p class="label text-error">{{ getEndTimeValidationMessages() }}</p>
    </fieldset>

    <div class="fieldset col-span-6 lg:col-span-2 self-center">
      <label
        class="label cursor-pointer justify-center lg:justify-start items-center lg:mt-5"
      >
        <span class="text-base-content text-[1rem] mr-3">Get All</span>
        <input
          type="checkbox"
          class="checkbox checkbox-lg checkbox-secondary dark:checkbox-primary"
          formControlName="getAll"
        />
      </label>
    </div>

    <div class="grid place-items-center col-span-6 mt-4">
      <button
        pRipple
        type="submit"
        class="btn btn-secondary m-auto w-full md:btn-wide"
        [disabled]="!dpmDataFormGroup.valid && !getAll?.value"
      >
        Generate
      </button>
    </div>
  </form>

  <div class="divider mt-10 mb-7"></div>

  <div>
    <h3 class="text-2xl pb-4 font-bold">User Data</h3>
    <div class="grid place-items-center mt-2 mx-5">
      <button
        pRipple
        class="btn btn-secondary m-auto w-full md:btn-wide font-bold"
        (click)="getUserData()"
      >
        Generate
      </button>
    </div>
  </div>
</div>
