<div class="grid place-items-center h-[90vh]">
  <form
    class="grid place-items-center max-w-[20rem] w-full"
    [formGroup]="loginFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="text-4xl font-bold mb-3">Login</h3>

    <div class="form-control w-full mb-2">
      <input
        id="username"
        type="email"
        class="input input-bordered w-full"
        placeholder="Username"
        formControlName="username"
        [ngClass]="{ 'input-error': hasErrors(username) || badCredentials }"
      />
      <label class="label" for="username">
        <span class="label-text-alt text-error">
          {{ getUsernameValidationMessages() }}
        </span>
      </label>
    </div>

    <div class="form-control w-full mb-2">
      <input
        id="password"
        type="password"
        class="input input-bordered w-full"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{ 'input-error': hasErrors(password) || badCredentials }"
      />
      <label class="label" for="password">
        <span class="label-text-alt text-error">
          {{ getPasswordValidationMessages() }}
        </span>
      </label>
    </div>

    <button
      pRipple
      type="submit"
      class="btn btn-primary w-full"
      [disabled]="!loginFormGroup.valid || loading"
    >
      Login
    </button>
  </form>
</div>
