@if (!isLoading()) {
  <div class="grid place-items-center h-[90vh]">
    <form
      class="grid place-items-center max-w-[20rem] w-full"
      [formGroup]="changePasswordFormGroup"
      (ngSubmit)="onSubmit()"
    >
      <h3 class="text-4xl font-bold mb-3">Change Password</h3>

      <fieldset class="fieldset w-full mb-2">
        <input
          id="currentPassword"
          type="password"
          class="input input-bordered w-full {{
            setStatusClass(currentPassword)
          }}"
          placeholder="Current Password"
          formControlName="currentPassword"
        />
        <p class="label text-error">
          {{ getCurrentPasswordValidationMessages() }}
        </p>
      </fieldset>

      <fieldset class="fieldset w-full mb-2">
        <input
          id="newPassword"
          type="password"
          class="input input-bordered w-full {{ setStatusClass(newPassword) }}"
          placeholder="New Password"
          formControlName="newPassword"
        />
        <p class="label text-error">
          {{ getNewPasswordValidationMessages() }}
        </p>
      </fieldset>

      <fieldset class="fieldset w-full mb-2">
        <input
          id="confirmPassword"
          type="password"
          class="input input-bordered w-full {{
            setStatusClass(confirmPassword)
          }}"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <p class="label text-error">
          {{ getConfirmPasswordValidationMessages() }}
        </p>
      </fieldset>

      <button
        pRipple
        id="submitButton"
        type="submit"
        class="btn btn-primary w-full"
        [disabled]="!changePasswordFormGroup.valid || waitingForResponse()"
      >
        Change
      </button>
    </form>
  </div>
} @else {
  <app-loading></app-loading>
}
