<input
  type="checkbox"
  id="confirm-modal"
  class="modal-toggle"
  [(ngModel)]="isOpen"
/>
<label for="confirm-modal" class="modal cursor-pointer">
  <label class="modal-box relative">
    <h3 class="font-bold text-xl">{{ title() }}</h3>
    <p class="py-4 text-lg">{{ message() }}</p>
    <div class="modal-action">
      <label
        pRipple
        for="confirm-modal"
        class="btn btn-outline btn-success"
        (click)="confirm()"
        >Yes</label
      >
      <label pRipple for="confirm-modal" class="btn btn-outline btn-error"
        >No</label
      >
    </div>
  </label>
</label>
