<dialog #confirmModal class="modal cursor-default">
  <div class="modal-box relative">
    <h3 class="font-bold text-xl">{{ title() }}</h3>
    <p class="py-4 text-lg">{{ message() }}</p>
    <div class="modal-action">
      <button pRipple class="btn btn-outline btn-success" (click)="confirm()">
        Yes
      </button>
      <button
        pRipple
        class="btn btn-outline btn-error"
        (click)="requestClose()"
      >
        No
      </button>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button (click)="requestClose()">close</button>
  </form>
</dialog>
