@use "variables" as vars;

[_nghost-xeb-c95] .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}

.p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin-bottom: 2rem;
}

[_nghost-xeb-c95] .p-paginator .p-paginator-current {
  margin-left: auto;
}

.p-paginator {
  background: vars.$base1;
  color: vars.$baseContent;
  border: 0 solid vars.$base3;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: vars.$baseContent;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.p-paginator .p-paginator-first {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.p-paginator .p-paginator-last {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: vars.$baseContent;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.p-link {
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.p-disabled, .p-disabled * {
  cursor: default!important;
  pointer-events: none;
}

.p-disabled, .p-component:disabled {
  opacity: 0.6;
}

.pi {
  font-family: primeicons, serif;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-ink {
  display: block;
  position: absolute;
  background: rgba(255,255,255,.5);
  border-radius: 100%;
  transform: scale(0);
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: vars.$base2;
  border-color: vars.$base3;
  color: vars.$baseContent;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: vars.$baseContent;
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}

.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 3rem;
}

.p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  background: vars.$base1;
  border: 1px solid vars.$base2;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.p-hidden-accessible input, .p-hidden-accessible select {
  transform: scale(0);
}

[_nghost-xeb-c95] .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}

.p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 0;
}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}

.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}

span.p-inputtext {
  margin: 0;
  font-size: 1rem;
  color: vars.$baseContent;
  background: vars.$base1;
  padding: 0.75rem 0.75rem;
  border: 1px solid vars.$base2;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: vars.$baseContent;
  width: 3rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.p-dropdown .p-dropdown-panel {
  min-width: 100%;
}

.p-dropdown-panel {
  position: absolute;
  top: 0;
  left: 0;
}

.p-dropdown-panel {
  background: vars.$base1;
  color: vars.$baseContent;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0.75rem 0;
}

.p-dropdown-item {
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: vars.$baseContent;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: vars.$accent;
  background: vars.$base1;
}
