[_nghost-xeb-c95] .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}

.p-datatable .p-paginator-bottom {
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin-bottom: 2rem;
}

[_nghost-xeb-c95] .p-paginator .p-paginator-current {
  margin-left: auto;
}

.p-paginator {
  background: var(--color-base-100);
  color: var(--color-base-content);
  border: 0 solid var(--color-base-300);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: var(--color-base-content);
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.p-paginator .p-paginator-first {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.p-paginator .p-paginator-last {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: var(--color-base-content);
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}

.p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.p-link {
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.p-disabled, .p-disabled * {
  cursor: default !important;
  pointer-events: none;
}

.p-disabled, .p-component:disabled {
  opacity: 0.6;
}

.pi {
  font-family: primeicons, serif;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .5);
  border-radius: 100%;
  transform: scale(0);
}

.p-paginator .p-paginator-pages .p-paginator-page.p-paginator-page-selected {
  background: var(--color-base-200);
  border-color: var(--color-base-300);
  color: var(--color-base-content);
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: var(--color-base-content);
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}

.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 3rem;
}

.p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  background: var(--color-base-100);
  border: 1px solid var(--color-base-200);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.p-hidden-accessible input, .p-hidden-accessible select {
  transform: scale(0);
}

[_nghost-xeb-c95] .p-datatable.p-datatable-customers .p-select-label:not(.p-placeholder) {
  text-transform: uppercase;
}

.p-paginator .p-paginator-rpp-dropdown .p-select-label {
  padding-right: 0;
}

.p-paginator-rpp-dropdown .p-select-label {
  background: transparent;
  border: 0 none;
}

.p-select-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 1%;
  text-overflow: ellipsis;
  cursor: pointer;
}

span.p-select-label {
  margin: 0;
  font-size: 1rem;
  color: var(--color-base-content);
  background: var(--color-base-100);
  padding: 0.75rem 0.75rem;
  border: 1px solid var(--color-base-200);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-select {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  background: var(--color-base-100);
  border: 1px solid var(--color-base-content);
  transition: background var(--p-select-transition-duration), color var(--p-select-transition-duration), border-color var(--p-select-transition-duration), outline-color var(--p-select-transition-duration), box-shadow var(--p-select-transition-duration);
  border-radius: 4px;
  outline-color: transparent;
  box-shadow: none;
}

.p-select-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  color: var(--color-base-content);
  width: 2.5rem;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.p-select-overlay {
  cursor: default;
  background: var(--color-base-100);
  color: var(--color-base-content);
  border: 1px solid var(--color-base-100);
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.p-select-list {
  margin: 0;
  list-style-type: none;
  padding: .5rem 0;
  gap: 0;
  display: flex;
  flex-direction: column;

}

.p-select-option {
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 0 none;
  border-radius: 0;
}

.p-select-option.p-select-option-selected {
  background: var(--color-base-200);
  color: var(--color-base-content);
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background: var(--color-base-300);
  color: var(--color-base-content);
}
