.app-toast-top-center {
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
}

#toast-container {
  opacity: .9;
  width: 25rem;

  .ngx-toastr {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
    padding: 1rem;
    background-size: 0;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 6px;
    width: 100%;

    .toast-title {
      font-size: 1.2rem;
    }
  }

  .toast-info {
    background-color: var(--color-info);
    border: solid var(--color-info-content);
    color: var(--color-info-content);
    border-width: 0 0 0 6px;
  }

  .toast-success {
    background-color: var(--color-success);
    border: solid var(--color-success-content);
    color: var(--color-success-content);
    border-width: 0 0 0 6px;
  }

  .toast-warning {
    background-color: var(--color-warning);
    border: solid var(--color-warning-content);
    color: var(--color-warning-content);
    border-width: 0 0 0 6px;
  }

  .toast-error {
    background-color: var(--color-error);
    border: solid var(--color-error-content);
    color: var(--color-error-content);
    border-width: 0 0 0 6px;
  }
}
