@import "variables";

@mixin statusStyles($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  border: solid $textColor;
  color: $textColor;
  border-width: 0 0 0 6px;
}

.app-toast-top-center {
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
}

#toast-container {
  opacity: .9;
  width: 25rem;

  .ngx-toastr {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
    padding: 1rem;
    background-size: 0;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 6px;
    width: 100%;

    .toast-title {
      font-size: 1.2rem;
    }
  }

  .toast-info {
    @include statusStyles($info, $infoContent);
  }

  .toast-success {
    @include statusStyles($success, $successContent);
  }

  .toast-warning {
    @include statusStyles($warning, $warningContent);
  }

  .toast-error {
    @include statusStyles($error, $errorContent);
  }
}
