@use "variables" as vars;

@mixin statusStyles($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  border: solid $textColor;
  color: $textColor;
  border-width: 0 0 0 6px;
}

.app-toast-top-center {
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
}

#toast-container {
  opacity: .9;
  width: 25rem;

  .ngx-toastr {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
    padding: 1rem;
    background-size: 0;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 6px;
    width: 100%;

    .toast-title {
      font-size: 1.2rem;
    }
  }

  .toast-info {
    @include statusStyles(vars.$info, vars.$infoContent);
  }

  .toast-success {
    @include statusStyles(vars.$success, vars.$successContent);
  }

  .toast-warning {
    @include statusStyles(vars.$warning, vars.$warningContent);
  }

  .toast-error {
    @include statusStyles(vars.$error, vars.$errorContent);
  }
}
