// accent colors
$accent: hsl((var(--a)));

// Base colors
$base1: hsl((var(--b1)));
$base2: hsl((var(--b2)));
$base3: hsl((var(--b3)));
$baseContent: hsl((var(--bc)));

// Secondary colors
$secondary: hsl(var(--s));
$secondaryContent: hsl(var(--sc));
$secondaryFocus: hsl(var(--sf));

// Info colors
$info: hsl(var(--in));
$infoContent: hsl(var(--inc));

// Success colors
$success: hsl(var(--su));
$successContent: hsl(var(--suc));

// Warning colors
$warning: hsl(var(--wa));
$warningContent: hsl(var(--wac));

// Error colors
$error: hsl(var(--er));
$errorContent: hsl(var(--erc));
