<h2 class="text-3xl mb-5 font-bold">New DPM</h2>
<form
  class="grid grid-cols-3 gap-x-6 gap-y-2 rounded"
  [formGroup]="homeFormGroup"
  (ngSubmit)="onSubmit()"
>
  <fieldset class="fieldset col-span-3 md:col-span-1">
    <legend class="fieldset-legend text-sm {{ setStatusClass(name, false) }}">
      Driver Name
    </legend>
    <p-autoComplete
      id="dpmNameInput"
      placeholder="Jane Doe"
      formControlName="name"
      styleClass="input w-full {{ setStatusClass(name) }}"
      panelStyleClass="menu bg-base-100"
      [required]="true"
      [suggestions]="autocompleteResults()"
      (completeMethod)="search($event)"
      [showEmptyMessage]="true"
      [forceSelection]="true"
    ></p-autoComplete>
    <p class="label text-error">{{ getNameValidationMessages() }}</p>
  </fieldset>

  <fieldset class="fieldset col-span-3 md:col-span-1">
    <legend class="fieldset-legend text-sm {{ setStatusClass(block, false) }}">
      Block Name
    </legend>
    <input
      id="dpmBlockInput"
      type="text"
      placeholder="11"
      class="input w-full placeholder:opacity-65 {{ setStatusClass(block) }}"
      maxlength="5"
      formControlName="block"
      autocomplete="off"
      required
    />
    <p class="label text-error">{{ getBlockValidationMessages() }}</p>
  </fieldset>

  <fieldset class="fieldset col-span-3 md:col-span-1">
    <legend
      class="fieldset-legend text-sm {{ setStatusClass(location, false) }}"
    >
      Location
    </legend>
    <input
      id="dpmLocationInput"
      type="text"
      placeholder="OFF"
      class="input input-bordered w-full uppercase placeholder:opacity-65 {{
        setStatusClass(location)
      }}"
      maxlength="5"
      formControlName="location"
      autocomplete="off"
      required
    />
    <p class="label text-error">{{ getLocationValidationMessages() }}</p>
  </fieldset>

  <fieldset class="fieldset col-span-3 md:col-span-1">
    <legend
      class="fieldset-legend text-sm"
      [ngClass]="{
        'text-error': hasErrors(dpmDate),
        'text-success': !hasErrors(dpmDate),
      }"
    >
      Date
    </legend>
    <p-date-picker
      id="dpmDateInput"
      formControlName="dpmDate"
      [placeholder]="format.dpmDate()"
      styleClass="input input-bordered w-full {{ errorsOrSuccess(dpmDate) }}"
      [required]="true"
      [touchUI]="false"
    ></p-date-picker>
    <p class="label text-error">{{ getDpmDateValidationMessages() }}</p>
  </fieldset>

  <fieldset class="fieldset col-span-3 md:col-span-1">
    <legend
      class="fieldset-legend text-sm {{ setStatusClass(startTime, false) }}"
    >
      Start Time
    </legend>
    <input
      id="dpmStartTimeInput"
      type="text"
      placeholder="0600"
      class="input input-bordered w-full {{ setStatusClass(startTime) }}"
      maxlength="4"
      autocomplete="off"
      formControlName="startTime"
      inputmode="numeric"
      required
    />
    <p class="label text-error">{{ getStartTimeValidationMessages() }}</p>
  </fieldset>

  <fieldset class="fieldset col-span-3 md:col-span-1">
    <legend
      class="fieldset-legend text-sm {{ setStatusClass(endTime, false) }}"
    >
      End Time
    </legend>
    <input
      id="dpmEndTimeInput"
      type="text"
      placeholder="1000"
      class="input input-bordered w-full {{ setStatusClass(endTime) }}"
      maxlength="4"
      autocomplete="off"
      formControlName="endTime"
      inputmode="numeric"
      required
    />
    <p class="label text-error">{{ getEndTimeValidationMessages() }}</p>
  </fieldset>

  <div class="grid grid-cols-2 col-span-3 gap-x-6 gap-y-2">
    <fieldset class="fieldset col-span-2 md:col-span-1">
      <legend class="fieldset-legend text-sm">DPM Type</legend>
      <select
        id="dpmTypeInput"
        class="select select-bordered w-full"
        formControlName="type"
      >
        @for (group of dpmGroups(); track group.groupName) {
          <optgroup label="{{ group.groupName }}">
            @for (dpm of group.dpms; track dpm.name) {
              <option [value]="dpm.id">
                {{ dpm.name }} {{ formatPoints(dpm.points) }}
              </option>
            }
          </optgroup>
        }
      </select>
      <p class="label">
        <!-- Spacing -->
      </p>
    </fieldset>

    <fieldset class="fieldset col-span-2 md:col-span-1">
      <legend class="fieldset-legend text-sm">Additional Notes</legend>
      <input
        id="dpmNotesInput"
        type="text"
        placeholder="Abducted by Aliens"
        class="input input-bordered w-full"
        autocomplete="off"
        formControlName="notes"
      />
      <p class="label">
        <!-- Spacing -->
      </p>
    </fieldset>
  </div>
  <div class="grid place-items-center col-span-3 mt-2">
    <button
      pRipple
      type="submit"
      class="btn btn-secondary m-auto w-full md:btn-wide"
      [disabled]="!homeFormGroup.valid"
    >
      Submit
    </button>
  </div>
</form>
