<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

@let active = activeTab();
@if (users()) {
  <div>
    <h2 class="text-3xl mb-5 font-bold">Users</h2>
    <div class="tabs mb-5 grid justify-items-center lg:justify-items-start">
      <div>
        <a
          class="tab tab-lg tab-bordered"
          [ngClass]="{ 'tab-active': active.search }"
          (click)="activateTab('search')"
          >Search</a
        >
        <a
          class="tab tab-lg tab-bordered"
          [ngClass]="{ 'tab-active': active.create }"
          (click)="activateTab('create')"
          >Create</a
        >
        <a
          class="tab tab-lg tab-bordered"
          [ngClass]="{ 'tab-active': active.actions }"
          (click)="activateTab('actions')"
          >Actions</a
        >
      </div>
    </div>
    @if (active.search) {
      <div>
        <input
          [pAutoFocus]="true"
          [autofocus]="true"
          id="userSearch"
          type="text"
          placeholder="Search"
          class="input input-bordered w-full mb-2"
          (input)="filterUsers($event)"
        />
        <p-table
          #dt
          [value]="filteredUsers()"
          dataKey="id"
          styleClass="table table-fixed lg:table-auto w-full"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="false"
          responsiveLayout="scroll"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header" class="table">
            <tr>
              <th class="lg:text-base break-words">Last Name</th>
              <th class="lg:text-base break-words">First Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr
              class="hover hover:cursor-pointer"
              (click)="handlerUserClick(user.id)"
            >
              <td class="text-base break-words whitespace-normal">
                {{ user.name | name: "last" }}
              </td>
              <td class="text-base break-words whitespace-normal">
                {{ user.name | name: "first" }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No users found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    }
    @if (active.create) {
      <div>
        <app-user-form layout="create" [managers]="managers()"></app-user-form>
      </div>
    }
    @if (active.actions) {
      <div class="flex flex-wrap justify-center">
        <div class="mx-4 basis-full lg:basis-auto grid place-items-center">
          <a
            class="text-lg hover:text-primary hover:cursor-pointer font-medium"
            (click)="sendEmailClick()"
            >Send Points Email</a
          >
        </div>
        <div class="mx-4 basis-full lg:basis-auto grid place-items-center">
          <a
            class="text-lg hover:text-primary hover:cursor-pointer font-medium"
            (click)="resetPointsClick()"
            >Reset Points Balance</a
          >
        </div>
      </div>
    }
  </div>
} @else {
  <app-loading></app-loading>
}

<app-confirm-box
  [message]="modalMessage()"
  [outputKey]="outputKey()"
  [isOpen]="modalOpen()"
  (isOpenChange)="modalOpen.set($event)"
  (confirmed)="handleConfirmEvent($event)"
></app-confirm-box>
