<dialog #dpmModal class="modal cursor-default">
  <div class="modal-box relative">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    @if (currentDpm(); as currentDpm) {
      <div>
        <h3 class="text-xl font-bold mx-4">{{ currentDpm.type }}</h3>
        <table
          class="my-4 border-separate border-spacing-x-4 border-spacing-y-1.5"
        >
          <tbody class="text-left align-text-top">
            <tr>
              <th>Points:</th>
              <td>{{ currentDpm.points | points }}</td>
            </tr>
            <tr>
              <th>Block:</th>
              <td>{{ currentDpm.block | block }}</td>
            </tr>
            <tr>
              <th>Location:</th>
              <td>{{ currentDpm.location | uppercase }}</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>{{ currentDpm.date }}</td>
            </tr>
            <tr>
              <th>Time:</th>
              <td>
                {{ currentDpm.time }}
              </td>
            </tr>
            @if (currentDpm.notes) {
              <tr class="break-words whitespace-normal">
                <th>Notes:</th>
                <td>{{ currentDpm.notes }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

@if (currentDpms(); as dpms) {
  <div>
    <h2 class="text-3xl mb-5 font-bold">Current DPMs</h2>
    <div class="overflow-x-auto rounded-box bg-base-100">
      <p-table
        #dt
        [value]="dpms"
        dataKey="id"
        styleClass="table"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="false"
        responsiveLayout="scroll"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header" class="table">
          <tr>
            <th class="lg:text-base break-words">Type</th>
            <th class="lg:text-base break-words">Points</th>
            <th class="lg:text-base break-words">Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dpm>
          <tr
            class="hover:bg-base-300 hover:cursor-pointer"
            (click)="clickRow(dpm)"
          >
            <td class="text-base break-words whitespace-normal">
              {{ dpm.type }}
            </td>
            <td class="text-base break-words whitespace-normal">
              {{ dpm.points | points }}
            </td>
            <td class="text-base break-words whitespace-normal">
              {{ dpm.date }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No DPMs found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
} @else {
  <app-loading></app-loading>
}
