@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/calendar";
@import "styles/toast";
@import "styles/autocomplete";
@import "styles/paginator";
@import "fonts";

html,
body {
  height: 100%;
  font-family: Poppins, system-ui;
}

.table th:first-child {
  position: relative !important;
}
