@use "styles/calendar";
@use "styles/toast";
@use "styles/autocomplete";
@use "styles/paginator";
@use "fonts";
@use "styles/variables" as vars;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: Poppins, system-ui;
}

.table th {
  background-color: vars.$primary;
  color: vars.$primaryContent;

  :first-child {
    position: relative !important;
  }
}

.p-paginator-current {
  font-size: .875rem;
}
