@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/calendar";
@import "styles/toast";
@import "styles/autocomplete";
@import "styles/paginator";
@import "fonts";
@import "styles/variables";

html,
body {
  height: 100%;
  font-family: Poppins, system-ui;
}

.table th {
  background-color: $primary;
  color: $primaryContent;

  :first-child {
    position: relative !important;
  }
}

.p-paginator-current {
  font-size: .875rem;
}
