<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

@if (dpms) {
<div>
  <h2 class="text-3xl mb-5 font-bold">Unapproved DPMs</h2>
  <p-table
    #dt
    [value]="dpms"
    dataKey="id"
    styleClass="table table-fixed lg:table-auto w-full"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loadingDpms"
    responsiveLayout="scroll"
    [paginator]="true"
    [lazy]="true"
    [totalRecords]="totalRecords"
    (onLazyLoad)="lazyLoadEvent($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header" class="table">
      <tr>
        <th class="lg:text-base break-words">Name</th>
        <th class="lg:text-base break-words">Block/Time</th>
        <th class="lg:text-base break-words">Type</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dpm>
      <tr class="hover hover:cursor-pointer" (click)="showApprovalModal(dpm)">
        <td class="text-base break-words whitespace-normal">
          {{ dpm.driver }}
        </td>
        <td class="text-base break-words whitespace-normal">
          {{ dpm.block | block }} {{ dpm.time }}
        </td>
        <td class="text-base break-words whitespace-normal">
          {{ dpm.type }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No DPMs found.</td>
      </tr>
    </ng-template>
  </p-table>
  <input
    type="checkbox"
    id="dpmModal"
    class="modal-toggle"
    [(ngModel)]="modalOpen"
  />
  <label for="dpmModal" class="modal cursor-pointer">
    <label class="modal-box relative">
      @if (currentDpm) {
      <div>
        <h3 class="text-xl font-bold mx-2 md:mx-4">{{ currentDpm.driver }}</h3>
        <table
          class="my-2 md:my-4 border-separate border-spacing-x-2 md:border-spacing-x-4 border-spacing-y-1.5 table-auto"
        >
          <tbody class="text-left align-text-top">
            @if (currentDpm.createdBy) {
            <tr class="whitespace-nowrap">
              <th>Created By:</th>
              <td>{{ currentDpm.createdBy }}</td>
            </tr>
            }
            <tr>
              <th>Type:</th>
              <td>{{ currentDpm.type }}</td>
            </tr>
            <tr>
              <th>Points:</th>
              <td>{{ currentDpm.points | points }}</td>
            </tr>
            <tr>
              <th>Block:</th>
              <td>{{ currentDpm.block | block }}</td>
            </tr>
            <tr>
              <th>Location:</th>
              <td>{{ currentDpm.location | uppercase }}</td>
            </tr>
            <tr>
              <th>Date:</th>
              <td>{{ currentDpm.date }}</td>
            </tr>
            <tr>
              <th>Time:</th>
              <td>
                {{ currentDpm.time }}
              </td>
            </tr>
            <th>Created At:</th>
            <td>{{ currentDpm.createdAt }}</td>
            @if (currentDpm.notes) {
            <tr class="break-words whitespace-normal">
              <th>Notes:</th>
              <td>{{ currentDpm.notes }}</td>
            </tr>
            }
          </tbody>
        </table>
        @if (!editOpen) {
        <div class="modal-action">
          <label
            pRipple
            for="dpmModal"
            class="btn btn-success btn-outline"
            (click)="approveDpm()"
            >Approve</label
          >
          <label
            pRipple
            for="dpmModal"
            class="btn btn-error btn-outline"
            (click)="denyDpm()"
            >Deny</label
          >
          <label
            pRipple
            for="dpmModal"
            class="btn btn-info btn-outline"
            (click)="showEdit($event)"
            >Edit</label
          >
        </div>
        } @else {
        <div class="modal-action">
          <div class="grid">
            <label class="self-center mr-2">Update points:</label>
          </div>
          <input
            class="input input-bordered input-info"
            type="number"
            placeholder="Points"
            [(ngModel)]="currentPoints"
            (focusout)="hideEdit()"
          />
        </div>
        }
      </div>
      }
    </label>
  </label>
</div>
} @else {
<app-loading></app-loading>
}
